@import 'tailwindcss';

:root {
  font-family: Nunito Sans, Noto Sans SC, sans-serif;
}

html,
body {
  overscroll-behavior: none;
}

@theme {
  --color-border: #e5e7eb;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
